html,
body {
  margin: 0px;
  padding: 0px;
}

/* Responsive */
@font-face {
  font-family: "Rubik";
  src: url("font/Rubik/Rubik-VariableFont_wght.ttf");
}

@media (max-width: 790px) {
  .column-image {
    display: none;
  }

  .column-main {
    background-color: aliceblue;
  }
}

@media (max-width: 840px) {
  .side-title {
    padding: 0 0% !important;
  }

  .page-title {
    float: none !important;
    font-size: 28px !important;
    margin-top: 20px !important;
    text-align: center;
  }

  .register {
    padding: 8% 10% 0 !important;
    margin: 0px 10px 26px !important;
  }

  .google-button {
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }

  .already-account-text {
    font-size: 12px !important;
  }

  .already-account {
    margin-bottom: 20px !important;
  }

  .login-here-button {
    margin-bottom: 20px !important;
  }

  .link {
    display: none !important;
  }

  .describe {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .body-card {
    width: 80%;
    height: 10%;
    font-size: 16px;
    text-align: left;
  }
}

/* Main container */
.container {
  display: flex;
  width: 100%;
}

.column-image,
.side-image {
  width: 100%;
  height: 1284px;
}

.column-main {
  width: 100%;
  padding: 55px;
}

.side-title {
  padding: 0 10%;
}

.header-title {
  display: inline;
  position: absolute;
  top: 45px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.page-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  float: right;
  line-height: 41px;
  color: #6a4029;
}

.register-form {
  display: grid;
}

.register {
  display: grid;
  padding: 10% 10% 0;
  margin: 10px 10px 26px;
}

label {
  margin-bottom: 13px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

input,
.register-button,
.google-button,
.login-here-button {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(79, 86, 101);
  border-radius: 10px;
  height: 40px;
  margin-bottom: 19px;
}

::placeholder {
  padding-left: 1%;
}

input[type="text"],
input[type="password"] {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.register-button {
  margin: 40px 0px;
  box-shadow: 0px 6px 20px 0px rgb(236, 190, 99);
  border: none;
  background: rgba(255, 186, 51, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  color: rgba(106, 64, 41, 1);
}

.google-button {
  box-shadow: 0px 6px 20px 0px rgb(158, 156, 156);
  border: none;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  color: rgb(4, 4, 4);
}

.login-here-button {
  display: flex;
  background: rgba(106, 64, 41, 1);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  color: #fffefe;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 6px 20px 0px rgb(105, 73, 56)
}

.login-here-button:hover {
  background-color: #7c523c;
}

.register-button:hover {
  background-color: #fdc75b;
}

.google-button:hover {
  background-color: #f1f1f1;
}

.google-button,
.register-button,
.login-here-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.google-icon {
  padding-right: 2%;
  top: 6px;
}

.already-account {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 42px;
}

.already-account-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #9f9f9f;
}

.underline {
  flex: 1;
  border-bottom: solid 2px #c4c4c4;
}


footer {
  display: flex;
}

.link-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.link-item {
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer-title {
  display: inline;
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  bottom: 5px;
  color: #0b132a;
}

.describe {
  width: 50%;
  padding: 10% 10% 0;
}

.link {
  width: 50%;
}

a,
footer-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.forgot-pass {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 51px;

  color: #6a4029;
}

/* Bootstrap */
/* home */

.navbar-brand {
  padding-left: 10%;
}

.navbar-nav {
  margin-left: 30%;
}

span.navbar-text {
  padding-right: 2%;
}

.btn-primary {
  margin-right: 10% !important;
  background-color: #ffba33 !important;
  border: none !important;
  border-radius: 50px !important;
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #6a4029 !important;
  width: 10%;
}

.navbar-nav .nav-link.active {
  color: #6a4029 !important;
}

.right-nav {
  display: contents;
}

.row {
  padding-left: 10%;
}

.home-image {
  background-image: url("img/nathan-dumlao-71u2fOofI-U-unsplash\ 2.png");
  height: 638px;
  width: 100% !important;
}

.home-title {
  padding-top: 30%;
  font-family: 'Rubik';
  color: white;
}

.home-desc {
  color: white;
}

.body-card {
  padding-top: 15%;
  padding-left: 10%;
  width: 90%;
}

.icon-img {
  padding-top: 30%;
  padding-left: 30px;
}

/*content team work */
.img-team {
  width: 100% ;
}

.text-item {
  display: grid;
  margin-left: 15%;
}

.bold-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.normal-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.content-desc {
  padding: 15% 0% 7%;
}

.desc-list-item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  list-style: none;
  padding-left: 0;
}

.list-item-desc {
  padding-top: 2%;
}

.desc-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

.desc-word {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.desc-item {
  padding: 4% 9% 0 8%;
}

/* favorite */

.favorite {
  padding: 5% 5% 5% 0;
  background-color: #f5f5f5;
}

.section-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

.section-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  color: #4f5665;
}

.card-img-top {
  width: 40% !important;
  margin-top: -20%;
  margin-left: 30%;
  /* border-radius: 40px 40px 40px 40px; */
}

.card-rows {
  padding-top: 20%;
}

.card-layout-hazelnut {
  margin-bottom: -5%;
}

.card-layout-pinky {
  padding-bottom: 0;
}

.card-layout-active {
  padding-bottom: 10%;
  border-radius: 10px !important;
  border: 2px solid #6a4029 !important;
  justify-content: space-between;
}

.card-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.hazelnut-list {
  padding-top: 10%;
  width: 100%;
}

.pinky-list {
  padding-top: 10%;
  width: 100%;
}

.chicken-list {
  padding-top: 10%;
  width: 100%;
}

.card-price-one {
  text-align: center;
  padding-bottom: 9%;
}

.card-price-two {
  text-align: center;
  padding-bottom: 9%;
}

.card-price-three {
  text-align: center;
  padding-bottom: 9%;
}

/*store*/
.store {
  padding: 5% 5% 5% 0;
  background-color: #f5f5f5;
}

.img-store {
  margin-top: 5% !important;
  width: 100% !important;
  text-align: center;
}

/* partner */
.partner {
  padding: 25% 10% 1% 0;
  background-color: #f5f5f5;
  text-align: center;
}

.sponsor-image {
  width: 100% !important;
}

/* testinomi */
.testimony {
  background-color: #f5f5f5;
  padding: 10% 5% 5% 0;
}

.user-detail {
  display: flex;
  justify-content: space-between;
}

.user-image {
  display: flex;
}

.user-credential {
  display: grid;
}

.user-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.user-addres {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.user-testimony {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.card-testimony-active-layout {
  border: 2px solid #6a4029 !important;
  border-radius: 10px !important;
}

.card-testimony-layout {
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.col-arrow {
  text-align: right;
}

.left-arrow {
  padding-bottom: 14%;
  margin-top: -2%;
}

.right-arrow {
  margin-top: -12%;
  margin-left: -5%;
}

/* promo content */
.promo {
  background-color: #eeeeee;
  text-align: center;
}

.promo-title {
  text-align: left;
  margin-top: 2%;
}

.promo-desc {
  text-align: left;
}

.card-promo-layout {
  margin-top: 10% !important;
  border-radius: 10px !important;
}

.card-promo-row {
  padding-left: 20%;
  padding-right: 20%;
}

.card-promo-row-inside {
  padding-left: 3%;
}

.promo-button {
  margin-top: 20%;
  margin-left: 25%;
}

/* footer home */
.home-footer {
  background-color: #eeeeee;
}

.footer-brand {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #0b132a;
}

.footer-fb-icon {
  padding-top: 2%;
  margin-left: 2%;
}

.footer-twitter-icon {
  padding-top: 2%;
  margin-left: 3%;
}

.footer-ig-icon {
  padding-top: 2%;
  margin-left: 3%;
}

.footer-home-copyright {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
  padding-top: 5%;
}

.footer-home-link {
  display: grid;
  row-gap: 5%;
}

/* profile */
.profile-row {
  background-image: url("img/nathan-dumlao-XOhI_kW_TaM-unsplash\ 1.png");
  width: 1265px !important;
  height: 1080px;
  padding-left: 10%;
}

.user-profile {
  padding-top: 7%;
  font-family: 'Rubik';
  font-size: 30px;
  color: white;
}
.card-content {
  padding-top: 3%;
}
.username{
  font-family: 'Rubik';
  font-size: 20px;
  padding-top: 10%;
  padding-left: 20%;
}
.email{
  font-family: 'Rubik';
  font-size: 16px;
  padding-left: 5%;
}
.img-container{
  padding-top: 15%;
}
.img-profile {
  border-radius: 100%;
}
.card-main-content{
  padding-left: 30%;
}
.choose-photo{
  padding-top: 8%;
  padding-left: 3%;
}
.remove-photo{
  padding-top: 8%;
  padding-left: 3%;
}
.edit-pw{
  padding-top: 8%;
  padding-left: 3%;
}
.title-submit{
  padding-top: 8%;
  font-size: 20px;
  line-height: 30px;
  font-style: 'Rubik';
  color: #6a4029;
  text-align: center;
}
.card-form{
  padding-top: 7%;
  padding-right: 10%;
}
.form-title{
  padding-left: 10%;
  padding-top: 5%;
  font-family: 'Rubik';
}
.label-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0px
}
label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #9F9F9F;
}